nav
{
	font-family: 'Poppins', sans-serif;
	font-size: 2.5vw;
	text-align: right;
	background-color: black;
	border-bottom: 1px solid white;
	word-spacing: 5px;	
	padding-right: 1rem;
}

a:link
{
	color: white;
	text-decoration: none;
}

a:visited
{
	color: white;
	text-decoration: none;
}

a:hover
{
	color: dimgray;
	text-decoration: none;
}

a:selectedlink
{
	color: dimgray;
	text-decoration: none;
}

body
{
	margin: 0;
}

.container
{
	padding-top: 4rem;
	padding-bottom: 4rem;
	column-count: 3;
	text-align: center;
}

.des
{
	width: 90%;
	filter: drop-shadow(14px 5px 7px grey)
}