*{
  margin: 0;
  padding: 0;
}

body{
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -ms-transition: opacity 2s;
  -o-transition: opacity 2s;
}

#main-nav{
  font-family: 'Poppins', sans-serif;
  font-size: calc(1.4vw + 1.3em);
  text-align: right;
  background-color: #000;
  border-bottom: 2px solid #fff;
  word-spacing: 5px;
  padding-right: 1rem;
}

#mob-navbar{
  visibility: hidden;
  position: absolute;
}

#topnav{
  position: relative;
}

#myLinks{
  display: none;
}

#myLinks a{
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  background-color: #000;
  font-family: 'Poppins', sans-serif;
}

#icon{
  display: block;
  position: absolute;
  right: 15px;
  color: #000;
  top: 20px;
  transform: scale(2);
}

a:link{
	color: #fff;
	text-decoration: none;
}

a:visited{
	color: #fff;
	text-decoration: none;
}

a:hover{
  color: #696969;
  text-decoration: none;
  transition: color .5s;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  -ms-transition: color .5s;
  -o-transition: color .5s;
}

a:selectedlink{
	color: #696969;
	text-decoration: none;
}

#site{
  width: 94%;
  margin: 60px auto 60px auto;
}
div > img{
  width: 100%;
}

#grid-cont{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

@media (max-width: 992px){
  #mob-navbar{
    visibility: visible;
    position: relative;
  }
  
  #main-nav{
    visibility: hidden;
    position: absolute;
  }
  
  #myLinks a{
    font-size: 20px;
  }
  
  #icon{
    top: -40px;
  }
  
  #grid-cont{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px){
  #grid-cont{
    grid-template-columns: repeat(1, 1fr);
  }
}
