*{
  margin: 0;
  padding: 0;
}

body{
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -ms-transition: opacity 2s;
  -o-transition: opacity 2s;
}

#main-nav{
  font-family: 'Poppins', sans-serif;
  font-size: calc(1.4vw + 1.3em);
  text-align: right;
  background-color: #000;
  border-bottom: 2px solid #fff;
  word-spacing: 5px;
  padding-right: 1rem;
}

#mob-navbar{
  visibility: hidden;
  position: absolute;
}

#topnav{
  position: relative;
}

#myLinks{
  display: none;
}

#myLinks a{
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  background-color: #000;
  font-family: 'Poppins', sans-serif;
}

#icon{
  display: block;
  position: absolute;
  right: 15px;
  color: #000;
  top: -40px;
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}

a:link{
	color: #fff;
	text-decoration: none;
}

a:visited{
	color: #fff;
	text-decoration: none;
}

a:hover{
  color: #696969;
  text-decoration: none;
  transition: color .5s;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  -ms-transition: color .5s;
  -o-transition: color .5s;
}

a:selectedlink{
	color: #696969;
	text-decoration: none;
}

#content{
  font-family: 'Khula', sans-serif;
  font-size: calc(1vw + 1em);
  text-align: center;
  margin: 60px 0 0 0;
}


@media (max-width: 992px){
  #mob-navbar{
    visibility: visible;
    position: relative;
  }
  
  #main-nav{
    visibility: hidden;
    position: absolute;
  }
  
  #myLinks a{
    font-size: 20px;
  }
}
