*{
  margin: 0;
  padding: 0;
}

body{
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -ms-transition: opacity 2s;
  -o-transition: opacity 2s;
}

#main-nav{
  font-family: 'Poppins', sans-serif;
  font-size: calc(1.4vw + 1.3em);
  text-align: right;
  background-color: #000;
  border-bottom: 2px solid #fff;
  word-spacing: 5px;
  padding-right: 1rem;
}

#mob-navbar{
  visibility: hidden;
  position: absolute;
}

#topnav{
  position: relative;
}

#myLinks{
  display: none;
}

#myLinks a{
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  background-color: #000;
  font-family: 'Poppins', sans-serif;
}

#icon{
  display: block;
  position: absolute;
  right: 15px;
  color: #000;
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}

nav a:link{
	color: #fff;
	text-decoration: none;
}

nav a:visited{
	color: #fff;
	text-decoration: none;
}

nav a:hover{
  color: #696969;
  text-decoration: none;
  transition: color .5s;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  -ms-transition: color .5s;
  -o-transition: color .5s;
}

nav a:selectedlink{
	color: #696969;
	text-decoration: none;
}

#container{
  margin: 0 auto 60px auto;
  width: 94%;
}

.head-cont{
  font-family: 'Khula', sans-serif;
  font-size: calc(1vw + .5em);
  text-decoration: overline #158c44;
}

h2{
  font-family: 'Khula', sans-serif;
  font-size: calc(1vw + 1em);
}

.grid{
  display: grid;
  margin: 15px 0 0 0;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  text-align: center;
  width: 100%;
}

.grid a:link, .grid a:visited{
  text-decoration: none;
  color: #000;
}

.grid a:hover{
  color: #696969;
  text-decoration: none;
  transition: color .5s;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  -ms-transition: color .5s;
  -o-transition: color .5s;
}

.grid img{
  vertical-align: middle;
  text-align: center;
  width: 60%;
}

#web-des-cont, #dig-des-cont, #print-des-cont{
  margin: 60px 0 0 0;
}

@media (max-width: 1200px){
  .grid{
    grid-template-columns: 1fr;
  }
  
  .proj{
    margin: 10px 0 0 0;
  }
}

@media (max-width: 992px){
  #mob-navbar{
    visibility: visible;
    position: relative;
  }
  
  #main-nav{
    visibility: hidden;
    position: absolute;
  }
  
  #myLinks a{
    font-size: 20px;
  }
  
  #icon{
    top: -40px;
  }
}
